<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro SGBD</title>
</head>
<body>
    <form action="/salvarSGBD" method="GET">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome">
        <br>
        <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" id="descricao">
        <br>
        <label for="versao">Versao: </label>
        <input type="text" name="versao" id="versao">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>