<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista SGBD</title>
</head>
<body>
    <div>
        <a></a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Versao</th>
                </tr>
            </thead>
        <tbody>
            {% for p in lista %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nome }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.versao }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>
</html>
